.header-container {
    background-color: aqua;
}

.h1{
    background-color: brown;
}

.h2{
    background-color: blue;
}
.h3{
    background-color: red;
}
.h4{
    background-color: orange;
}
.h5{
    background-color: green;
}
.h6{
    background-color: purple;
}